html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    margin: 0;
    justify-content: center;
}

.header {
    width: 100%;

    div {
        text-align: center;
    }

    #name {
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    #loc {
        font-size: 1.2rem;
        font-weight: 100;
        margin-bottom: 0.4rem;
    }

    .header-subtext-container {
        display: flex;
        .header-subtext {
            flex-grow: 1;
            margin: auto;
            &:nth-child(1n+2) {
                border-left: 1px solid black;
            }
        }
    }
}

.main {
    margin-top: 1rem;
    >* {
        margin-bottom: 1rem;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        color: hsl(0, 0%, 32.5%);
        border-bottom: 2px solid hsl(0, 0%, 0%);
        text-align: left;
    }

    .subtitle {
        font-size: 17px;
        font-weight: 600;
        text-align: left;
    }

    .content {
        margin-bottom: 1rem;
    }

    #projects {
        margin-top: -1.5rem;
    }
}







.job {
    display: grid;
    grid: 'jt jp' 'jl jl' 'jd jd'; /*grid: 'jt' 'jd' 'jl' 'jp';*/

    .job-title {
        grid-area: jt;
        font-weight: 600;
        font-size: 17px;
        text-align: left;
    }
    .job-location {
        grid-area: jl;
        text-align: right;
        margin-top: -6px;
        margin-bottom: 0.3rem;
    }
    .job-period {
        grid-area: jp;
        text-align: right;
    }
    .job-desc {
        grid-area: jd;
        list-style: none;
        margin-top: 0px;
        padding-left: 0px;
        >* {
            margin-top: -0.5em;
            margin-bottom: 10px;
        }
    }
}

.project {
    display: flex;
    margin-bottom: 1rem;
    list-style-position: inside; /* prevents list bullet points from staying outside of element box */

    .project-text {
        display: flex;
        flex-direction: column;
        width: fit-content;
        flex: 4 1 0;
        height: fit-content;
    }

    .project-title {
        margin-bottom: 6px;
    }
    
    .project-desc {
        /* word-break: break-word; /* breaks lines after word, fixes the text-wrapping and stretching */
        margin: 0;
        padding: 0;
        list-style: none;
        p {
            padding: 0;
            margin: 0;
            line-height: 1.2rem;
        }
    }

    
    .project-skills {
        flex: 1 1 0;
        gap: 0.4rem;
        margin-top: 0.8rem;
        text-align: right;
    }

}




.edu {
    display: grid;
    grid: 'ea ea' '. .' 'ed ed';
    margin-bottom: 24px;

    .edu-award {
        grid-area: ea;
        font-weight: 600;
        font-size: 17px;
    }
    
    .edu-period {
        text-align: right;
    }
    
    .edu-desc {
        grid-area: ed;
        font-style: italic;
        text-indent: 2em;
    }
}

#skills {
    p {
        font-size: 17px;
        font-weight: 600;
        text-align: left;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-top: 0.2rem;
        gap: 1rem;
    }
}