html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ssp {
    font-family: "Source Serif Pro", serif;
}

body {
    margin: -0.5rem 0px 0px 0px;
    justify-content: center;
    font-size: 1.15rem;
}

.header {
    
    font-family: "Source Serif Pro", serif;
    width: 100%;

    div {
        text-align: center;
    }

    #name {
        margin-top: 0.2rem;
        font-weight: 700;
        font-size: 1.6rem;
        font-family: "Noto Sans JP", sans-serif;
    }
    
    #loc {
        font-size: 1.2rem;
        font-weight: 100;
        margin-bottom: 0.01rem;
    }

    .header-subtext-container {
        display: flex;
        .header-subtext {
            flex-grow: 1;
            margin: auto;
            &:nth-child(1n+2) {
                border-left: 1px solid black;
            }
        }
    }
}

.main {
    // >.content:not(:last-child){border: 1px solid blue;}
    margin-top: 0.1rem;
    .title {
        margin-top: -0.3rem;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Noto Sans JP', sans-serif;
        color: hsl(0, 0%, 32.5%);
        border-bottom: 2px solid hsl(0, 0%, 0%);
        text-align: left;
        margin-bottom: 0.01rem;
    }

    .subtitle {
        font-size: 17px;
        font-weight: 600;
        text-align: left;
    }

    .pg {text-indent: -1.8rem;
        padding-left: 1.8rem;
        
        font-family:  "Source Serif Pro", serif;
    }

    /*#projects {
        margin-top: -1.8rem;
    }*/
}







.job {
    display: flex;
    flex-direction: column;

    .topic-line {
        display: flex;
    }

    .job-title {
        flex: 1;
        font-weight: 600;
        font-size: 17px;

        height: fit-content;
        display: flex;
        align-self: end;
        margin-top: -0.275rem;
    }

    .flex-cont{
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    .job-location {
        color: gray;
        font-size: 14px;
        margin-top: -0.1rem;
    }
    .job-period {
        grid-area: jp;
        text-align: right;
        margin-top: -0.25rem;
        font-family: "Source Serif Pro", serif;
        // margin-bottom: 0.5rem;
    }
    .job-desc {
        grid-area: jd;
        list-style: none;
        margin: 0px 0px 0.2rem;
        // padding: 0;
        >* {
            :not(*){margin-top:0;}
            margin-top: -0.25rem;
            // margin-bottom: 0.5rem;
        }
    }
}

.project {
    margin-bottom: 0.03rem;
    // border-bottom:1px solid blue;
    list-style-position: inside; /* prevents list bullet points from staying outside of element box */
    &:last-of-type{margin-bottom:0.2rem;}

    .project-info {
        display: flex;
        height: fit-content;
        &:first-of-type{margin-top:0.1rem;}
    }
    
    .project-desc {
        /* word-break: break-word; /* breaks lines after word, fixes the text-wrapping and stretching */
        margin: 0;
        list-style: none;
        p {
            padding: 0;
            margin: 0;
            line-height: 1.2rem;
        }
    }

    
    .project-skills {
        font-weight: normal;
        font-size: 1.1rem;
        gap: 0.3rem;
        padding-top: 0.1rem;
        margin-left: auto;
        font-family: "Source Serif Pro", serif;
    }

}




.edu {
    // display: grid;
    // grid: 'ea ea' '. .' 'ed ed';
    margin-bottom: 1rem;
    &:last-of-type{margin-bottom: 0.25rem;}

    .edu-award {
        grid-area: ea;
        span{font-weight: 600;}
        font-size: 17px;
    }
    // .edu-location{color:gray;}
    
    .edu-period {
        color:gray;
    }
    
    .edu-desc {
        grid-area: ed;
        font-style: italic;
        text-indent: 2em;
    }
}

#skills {
    p {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-top: 0.01rem;
        gap: 0.8rem;
    }
    li {font-size: 1.1rem; font-family:  "Source Serif Pro", serif;}
}