html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ssp {
  font-family: "Source Serif Pro", serif;
}

.bold {
  font-weight: 600;
}

.xbold {
  font-weight: 700;
}

body {
  margin: -0.5rem 0px 0px 0px;
  justify-content: center;
  font-size: 1rem;
}

.header {
  font-family: "Source Serif Pro", serif;
  width: 100%;
}
.header div {
  text-align: center;
}
.header #name {
  margin-top: 0.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
}
.header #loc {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 0.01rem;
}
.header .header-subtext-container {
  display: flex;
}
.header .header-subtext-container .header-subtext {
  flex-grow: 1;
  margin: auto;
}
.header .header-subtext-container .header-subtext:nth-child(1n+2) {
  border-left: 1px solid black;
}
.header .header-subtext-container a {
  text-decoration: none;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main {
  margin-top: 0.1rem;
  /*#projects {
      margin-top: -1.8rem;
  }*/
}
.main .title {
  margin-top: -0.3rem;
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
  color: hsl(0deg, 0%, 32.5%);
  border-bottom: 2px solid hsl(0deg, 0%, 0%);
  text-align: left;
  margin-bottom: 0.01rem;
}
.main .subtitle {
  font-size: 17px;
  color: hsl(0deg, 0%, 0%);
  font-weight: 700;
  text-align: left;
}
.main .pg {
  text-indent: -1.8rem;
  padding-left: 1.8rem;
  font-family: "Source Serif Pro", serif;
}

.job {
  display: flex;
  flex-direction: column;
  /*.job-period {
      grid-area: jp;
      text-align: right;
      margin-top: -0.25rem;
      font-family: "Source Serif Pro", serif;
      // margin-bottom: 0.5rem;
  }*/
}
.job .topic-line {
  display: flex;
}
.job .job-title {
  flex: 1;
  font-weight: 700;
  font-size: 17px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-self: end;
  margin-top: -0.275rem;
}
.job .flex-cont {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.job .job-location {
  color: gray;
  font-size: 14px;
  margin-top: -0.1rem;
}
.job .job-period {
  color: black;
  font-size: 16px;
  margin: 0;
}
.job .job-desc {
  grid-area: jd;
  list-style: none;
  margin: 0px 0px 0.2rem;
}
.job .job-desc > * {
  margin-top: -0.25rem;
}
.job .job-desc > * :not(*) {
  margin-top: 0;
}

.project {
  margin-bottom: 0.03rem;
  list-style-position: inside; /* prevents list bullet points from staying outside of element box */
}
.project:last-of-type {
  margin-bottom: 0.2rem;
}
.project .project-info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.project .project-info:first-of-type {
  margin-top: 0.1rem;
}
.project .project-desc {
  /* word-break: break-word; /* breaks lines after word, fixes the text-wrapping and stretching */
  margin: 0.1rem 0 0.25rem;
  list-style: none;
}
.project .project-desc p {
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
}
.project .project-skills {
  font-weight: normal;
  font-size: 1.1rem;
  gap: 0.3rem;
  padding-top: 0.1rem;
  margin-left: auto;
  font-family: "Source Serif Pro", serif;
}
.project .project-url {
  display: block;
  color: gray;
  font-size: 14px;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edu {
  margin-bottom: 1rem;
}
.edu .edu-award {
  grid-area: ea;
}
.edu .edu-location > span {
  font-size: 17px;
  font-weight: 700;
}
.edu .edu-period {
  color: gray;
}
.edu .edu-desc {
  grid-area: ed;
  font-style: italic;
  text-indent: 2em;
}

#skills p {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
#skills .subtitle {
  margin-top: -0.175rem;
}
#skills .list {
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0.01rem;
  gap: 0.8rem;
}
#skills .list.sw {
  display: flex;
  margin: 0.1rem 0;
}
#skills li {
  font-size: 1rem;
  font-family: "Source Serif Pro", serif;
}/*# sourceMappingURL=scripts.css.map */