html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    padding: 72px;
    padding-top: 24px;
    justify-content: center;
}

#name {
    padding-left: 38px;
    font-weight: 700;
    text-align: right;
    font-size: 24px;
    border-bottom: 2px black solid;
}

.header {
    width: auto;
}

.header-subtext-container {
    display: flex;
}

.header-subtext {
    flex-grow: 1;
    margin: auto;
    text-align: center;
}

.header-subtext:nth-child(1n+2) {
    border-left: 1px solid black;
}

.main {
    display: grid;
    grid:  'box1 box2' 
            'box3 box4'
            'box7 box8'
            'box5 box6';
}

.box1 {grid-area: box1;}

.box2 {
    grid-area: box2;
    list-style: none;
    display: grid;
    text-align: center;
    grid: '. .' '. .' 'sk5 sk5';
    padding-right: 40px;
    margin: 0;
    
}
.box3 {grid-area: box3;}
.box4 {grid-area: box4;}
.box5 {grid-area: box5;}
.box6 {grid-area: box6;}
.box7 {grid-area: box7;}
.box8 {grid-area: box8;}



#sk5 {
    grid-area: sk5;
}

.main > * {
    margin-top: 30px;
}

.box1, .box3, .box5, .box7 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(40, 40, 40, 0.8)
}

.box4, .box6, .box8 {
    padding-left: 40px;
}

.box3, .box4 {
    margin-top: 40px;
}

.job {
    display: grid;
    grid: 'jt jp' 'jl jl' 'jd jd'; /*grid: 'jt' 'jd' 'jl' 'jp';*/
}

.job-title {
    grid-area: jt;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
}
.job-location {
    grid-area: jl;
    text-align: right;
    margin-top: -6px;
    margin-bottom: 3px;
}
.job-period {
    grid-area: jp;
    text-align: right;
}
.job-desc {
    grid-area: jd;
    list-style: none;
    margin-top: 10px;
    padding-left: 0px;
    margin-left: -1em;
    text-indent: -1em;
    margin-bottom: 40px;
}

.job-desc>* {
    margin-top: -0.5em;
    margin-bottom: 10px;
    margin-left: 2em;   
}

.project {
    display: grid;
    grid-template-areas:   'pi pt ps'
                            'pi pd ps';
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr; /* 1fr allows the elements to take up 100% of the free space available, similar to flex-grow */
    text-align: left;
    justify-items: auto;
    list-style-position: inside; /* prevents list bullet points from staying outside of element box */
    margin-bottom: 24px;
}

.project-img {
    grid-area: pi;
    width: 8em;
    height: 8em;
    border: 1px hsl(0, 0%, 80%) solid;
    border-radius: 1.5em;
    box-sizing: border-box;
    margin-right: 16px;
}

#resume:hover {
    width: 10em;
    height: 10em;
}

.project-title {
    grid-area: pt;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 6px;
}

.project-desc {
    grid-area: pd;
    /*word-break: break-word; /* breaks lines after word, fixes the text-wrapping and stretching */
}

.project-skills, .project-skills>ul {
    margin-top: 0;
    grid-area: ps;
    
}

.project-skills span {text-decoration: underline;}





.edu {
    display: grid;
    grid: 'ea ea' '. .' 'ed ed';
    margin-bottom: 24px;
}


.edu-award {
    grid-area: ea;
    font-weight: 600;
    font-size: 17px;
}

.edu-period {
    text-align: right;
}

.edu-desc {
    grid-area: ed;
    font-style: italic;
    text-indent: 2em;
}

